*{
    margin: 0;
    padding: 0;
    
}
.backgroundimage{
    width: 100%;
    background: linear-gradient(to left,rgba(0,0,0,0.5)60%, rgba(0,0,0,0.5)60%),url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    
}
nav{
    padding: 1px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}
.navigation{
    background-color:linear-gradient (180deg,black,blue);
}
.logo{
    width: 100px;
    padding: 40px;
    transition: all 1.1s;
}
.logo:hover{
    transform: scale(1.2);
}
nav ul li{
    padding: 40px;
    display: inline;
    list-style: none;
    margin: 10px 15px;
    font-size: larger;
   
    
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
    transition: 0.4s ease-in-out;
   

}
 ul li a:hover{
    color: orangered;
    
}

.log_in{
    text-decoration: none;
    color: aliceblue;
    margin-right: 15px;
    font-weight: 400;

}
.btns a:hover{
    color:yellowgreen;

}
.btns{
    padding-right: 20px;
    font-size: larger;
}
.sign_in{
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    background-image: linear-gradient(45deg,#df4881,#c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    font-size: larger;
    padding: 14px 15px;

}
.content{
    margin-top: 2%;
    max-width: 600px;
    padding-left: 30%;
}
.content h1{
    color: orangered;
    -webkit-text-stroke:0.58px black;

}
.content p{
    color: azure;
    margin: 10px 0px 30px;
}
.content ul li{
    color: azure;
    padding-left:30% ;
    list-style: none;
}
.guitar{
    
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 100px;
    padding-left: 100px;
    shape-rendering: auto;
    padding-bottom: 4%;

}
    
.contenttable{
    border-style: 1px ridge;
    border-color: azure;
    padding-top: 5%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    background-color:white;

}
.table{
    padding-left: 35%;
}
.contenttable thead tr{
    background-color: #009879 ;
    color: white;
    text-align: left;
    min-width: 400px;
    font-weight: bold;
    
}
.contenttable tbody td{

    color: black;
}
.contenttable th,
.contenttable td{
    padding: 12px 15px;
    color: azure;
    border-bottom-color:1px bl;
}

.contenttable tbody tr:nth-of-type(even){
    background-color: gainsboro
}
.contenttable tbody tr {
    border-bottom:2px solid #dddddd;
}
.map{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 20px;
    padding-left: 1300px;
    shape-rendering: auto;
    padding-bottom: 20%;
}


.anim{
    opacity: 0;
    transform:translateY(30px);
    animation:moveup 0.5s linear forwards;
}

@keyframes moveup{
   100%{  opacity: 1;
         transform:translateY(0px);
        }
}
